<form class="form-{{@_form.options.type}}">
	<div class="form-group">
		<repeat group="{{ @_form.items }}" value="{{ @item }}">
			<switch expr="{{ @item.type }}">
				<case value="checkbox" break="{{ TRUE }}">
					<div class="{{ @item.type }} {{ @item.disabled }}">
						<label>
							{{@item.html}}
						{{@item.text}}
						</label>
					</div>
				</case>
				<case value="radio" break="{{ TRUE }}">
					<div class="{{ @item.type }} {{ @item.disabled }}">
						<label>
							{{@item.html}}
							{{@item.text}}
						</label>
					</div>
				</case>
				<default>
					<label for="{{@item.id}}">
						{{@item.text}}
					</label>
					{{@item.html}}
					<check if="{{ @item.desc }}">
						<span id="helpBlock" class="help-block">
							{{ @item.desc }}
						</span>
					</check>
				</default>
			</switch>
		</repeat>
		<repeat group="{{ @_form.buttons }}" value="{{ @button }}">
			<switch expr="{{ @button.type }}">
				<case value="anchor" break="{{ TRUE }}">
					<a class="btn {{@button.class}}" href="{{@button.href}}" role="button" {{@button.extra}}>{{@button.value}}</a>
				</case>
				<case value="button" break="{{ TRUE }}">
					<button class="btn {{@button.class}}" type="button" {{@button.extra}}>{{@button.value}}</button>
				</case>
				<case value="input" break="{{ TRUE }}">
					<input class="btn {{@button.class}}" type="submit" {{@button.extra}}>{{@button.value}}</input>
				</case>
			</switch>
		</repeat>
	</div>
</form>
